#root {
  /* background-color: #0400ff;*/
  background-image: linear-gradient(360deg,#4ce3f7, #0400ff);
}
.footer {
  /* background-color: rgb(0, 71, 141); */
  background-image: linear-gradient(360deg, #0400ff, #4ce3f7);
}

.row {
  display: flex;
  width: 70%;
  border: 1px solid white;
  border-radius: 2%;
  background-color: #0400ff;
  margin-top: 2%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #ff0000);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.button {
  border: 1px solid white;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  width: 15%;
}

.button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
